apiVersion: v1
kind: Service
metadata:
  labels:
    app: "chirpstack-{{ ansible_operator_meta.name }}"
  name: "chirpstack-{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  type: "{{ server.service.type }}"
  ports:
  - port: {{ server.service.port }}
    protocol: TCP
    targetPort: 8080
{% if (server.service.nodePort is defined) and (server.service.type == "NodePort") %}
    nodePort: {{ server.service.nodePort }}
{% endif %}   
  selector:
    app: "chirpstack-{{ ansible_operator_meta.name }}"
