apiVersion: v1
kind: Service
metadata:
  labels:
    app: "chirpstack-{{ ansible_operator_meta.name }}"
  name: "chirpstack-{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  type: "{{ server.service.type }}"
  ports:
  - port: {{ server.service.port }}
    protocol: TCP
    targetPort: 8080
{% if (server.service.node_port is defined) and (server.service.type == "NodePort") %}
    nodePort: {{ server.service.node_port }}
{% endif %}
  selector:
    app: "chirpstack-{{ ansible_operator_meta.name }}"
---
{% if "monitoring" in server.configuration %}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: "chirpstack-{{ ansible_operator_meta.name }}"
  name: "chirpstack-{{ ansible_operator_meta.name }}-metrics"
  namespace: "{{ ansible_operator_meta.namespace }}"
spec:
  type: ClusterIP
{% if server.workload.replicas > 1 %}
  clusterIP: None
{% endif %}
  ports:
  - port: {{ server.configuration.monitoring.port }}
    protocol: TCP
    targetPort: {{ server.configuration.monitoring.target_port }}
  selector:
    app: "chirpstack-{{ ansible_operator_meta.name }}"
{% endif %}
